<div id="about-page">

    <h1>Springfield University</h1>
    <p>Mainstreet 123, 001 Springfield</p>

    <div id="uni-opening-hours">
        <table>
            <tr>
                <th>Monday - Friday</th>
                <th>Saturday</th>
            </tr>
            <tr>
                <td>08:00 am - 09:00 pm</td>
                <td>08:00 am - 04:00 pm</td>
            </tr>
        </table>
    </div>

    <div id="map"></div>

</div>


